.parallax-container {
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  
  .parallax-background {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../pics/parallex.webp'); /* Replace with your image URL */
    height: 100%;
    background-attachment: fixed; /* This creates the parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
    text-align: center;
    padding: 0 1rem;
  }
  
  .parallax-background h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .parallax-background p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    max-width: 600px;
    line-height: 1.5;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .order-now {
    background-color:  #088178;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .order-now:hover {
    background-color: #cc0000;
  }
  